 <div id="loginPopUp" style="display: none;">
        <span id="closeLoginBtn" class="close-btn">&times;</span>
        <h2 class="sign-up-header">SIGN IN</h2>
        <label for="username">USERNAME:</label>
        <input type="text" id="username" placeholder="Username" required>

        <label for="password">PASSWORD:</label>
        <input type="password" id="password" placeholder="Password" required>

        <div class="login-links">
            <a href="/registration_page" id="createAccountLink">Create a new account</a>
            <a href="#" id="forgotPasswordLink">Forgot password?</a>
        </div>

        <button id="loginSubmitBtn">Login</button>
    </div>