<div id="messagePopUp" style="display: none;">
    <h3>To: <span id="tutorName"></span></h3>
    <textarea id="messageText" placeholder="Write your message here..."></textarea>
    <button id="sendMessageBtn">Send</button>

    <button id="closeMessageBtn">Close</button>
</div>